<!DOCTYPE html>
<html lang="en">
{% include 'htmlHead.twig' with {'title' : 'Publisher' } %}
<body>
  {% include 'modal.twig' %}
  {% include 'navbar.twig' with {'active' : 'publishers' } %}
  <div class="container">
    <table class="table header-fixed sticky-header">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for item in publishers %}
        <tr>
          <th scope="row">{{ item.Id }}</th>
          <td>{{ item.Name }}</td>
          <td><a href="#" onclick="onDelete('publisher', {{item.Id}});">delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
    <form id="addForm" action="/api/publishers/" title="" method="post" class="form-inline navbar-form">
      <div class="form-group">
        <label class="title">Name</label>
        <input type="text" id="name" name="name">
      </div>
      <div class="form-group">
        <input type="submit" id="submitButton" name="submitButton" value="Add" class="btn btn-success">
      </div>
    </form>
  </nav>
</body>
</html>
